<launch>
  <!-- Arguments for WhyCon node -->
  <arg name="name" default="whycon"/>
  <arg name="targets" default="5"/>
  <arg name="outer_diameter" default=".055"/>
  <arg name="inner_diameter" default=".020"/>

  <!-- Running WhyCon node-->
  <node name="whycon" type="whycon" pkg="whycon" output="screen">

    <!-- Setting the arguments recieved to the corresponding parameters -->
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <param name="outer_diameter" value="$(arg outer_diameter)"/>
    <param name="inner_diameter" value="$(arg inner_diameter)"/> 

    <!-- Uncomment and remap the topics to the corresponding topics. .launch files are treated as XML files and uncommenting follows the same convetions -->
    <remap from="/camera/camera_info" to="/usb_cam/camera_info"/>
    <remap from="/camera/image_rect_color" to="/usb_cam/image_rect_color"/>
  </node>


  <!-- Running image_view node to display WhyCon output -->
  <node ns = "whycon_display" name="image_view" type="image_view" pkg="image_view" output="screen">
    <remap from="image" to="/whycon/image_out"/>
  </node>


</launch>
